# Лабораторная работа к лекции 1
Ваше имя: Макарова Екатерина

Ваш адрес электронной почты: makarovakatya0237@gmail.com

## Упражнение 1.1. Типы данных и операции
1. Определите две переменные и присвойте первой целое число, а второй — число с плавающей запятой. Определите новую переменную и присвойте сумму двух предыдущих переменных. Каков тип данных третьей переменной?
2. Переназначьте переменную с другим типом данных, например, возьмите одну из числовых переменных и присвойте ей строку. Какой новый тип данных?
3. Посмотрите, что произойдет, если вы попытаетесь добавить строку к строке.
4. Посмотрите, что произойдет, если вы добавите строку к числу с плавающей запятой или целому числу.

In [ ]:
a = 22
b = 3.2
c = a + b
print(c,type(c))

25.2 <class 'float'>

In [ ]:
d = "30"
print(type(d))

<class 'str'>

In [ ]:
n = "Katya"
f = "Makarova"
n_f = n + f
print(n_f)

KatyaMakarova

In [5]:
a = "Katya"
b = 22
c = 12.2
#q = a + b  #добавление строки к целому числу
e = a + c  #добавление строки к числу с плавающей точкой
#print(q)
print(e)
# выдаётся ошибка, тк объекты имеют разные типы данных, чтобы устанить ошибку необходимо привести число к типу данных - строка

TypeError: can only concatenate str (not "float") to str

## Упражнение 1.2. Запуск программ

  * Создайте новый файл Python(или файл с расширением `.ipynb`) и используйте функцию `double_number` в качестве шаблона. Измените код, чтобы добавить два числа вместо удвоения одного числа.
  * Можете ли вы догадаться, что произойдет, если изменить отступ? Выполните данное действие.
  * Попробуйте, что произойдет, если вы напечатаете `a` в самом конце программы. Пояснить, что происходит?
 [Текст ссылки](https://)

In [2]:
def two_number(a,b):
    r = a + b
    return r

print(two_number(22, 12))
print(two_number(13.23, 12.28))

34
25.509999999999998

In [4]:
def two_number(a,b):
r = a + b # Изменение отступа ломает логику выполнения программы и вызывает синтаксическую ошибку.
return r

print(two_number(22, 12))
print(two_number(13.23, 12.28))

IndentationError: expected an indented block after function definition on line 1 (<ipython-input-4-7abe2df7de00>, line 2)

## Упражнение 1.3. Создание ячеек, выполнение кода

1. Создайте новую ячейку кода ниже, где вы определите переменные, содержащие ваше имя, ваш возраст  и вашу специальность.
2. Создайте еще одну ячейку, использующую эти переменные, и выведите объединенную строку с указанием вашего имени, специальности и возраста в годах, месяцах и днях (при условии, что сегодня ваш день рождения). Вывод должен выглядеть так:

```
Имя: Кот-ученый, Специальность: Бизнес-Информатика, Возраст: 18 лет, или 216 месяцев, или 6480 дней..
```

In [ ]:
name = "Екатерина"
spec = "Бизнес-информатика"
age = 21

In [ ]:
age_month = age * 12
age_day = age * 365

print(f"Имя: {name}, Специальность: {spec}, Возраст: {age} год, или {age_month} месяцев, или {age_day} дней")

Имя: Екатерина, Специальность: Бизнес-информатика, Возраст: 21 год, или 252 месяцев, или 7665 дней

## Упражнение 1.4: Функции
Напишите функцию, которая
  * принимает две числовые переменные
  * умножает их друг на друга
  * делит их на числовую переменную, определенную в области видимости вне функции
  * и возвращает результат.

Выведите результат функции для трех разных наборов входных переменных.

In [ ]:
def calculate(num1, num2):
    global a
    result = (num1 * num2) / a
    return result

a = 2

result1 = calculate(22, 4)
print(result1)

result2 = calculate(13, 5)
print(result2)

result3 = calculate(10, 3)
print(result3)

44.0
32.5
15.0

## Упражнение 1.5*

Есть некоторые данные о количестве книг, прочитанных разными людьми, работающими в книжном магазине Владимира. Создайте код Python, который учитывает каждого человека и выводит, сколько книг он прочитал. Если кто-то прочитал 0 книг, выведите «___ не читал ни одной книги!» вместо количества книг.

In [ ]:
people = ['Krishnang', 'Steve', 'Jimmy', 'Mary', 'Divya', 'Robert', 'Yulia']
books_read = [12, 6, 0, 7, 4, 10, 15]

Существует несколько способов решить эту задачу: можно изучить функцию `zip()`, использовать `enumerate()`, `range` и `len` или использовать другие методы. Чтобы напечатать имена и значения, вы можете использовать конкатенацию строк (+), форматирование f-строки или другие методы.

In [ ]:
for person, books in zip(people, books_read):
  if books == 0 :
    print(f"{person} не прочитал ни одной книги!")
  else:
    print(f"{person} прочитал {books} книг.")

Krishnang прочитал 12 книг.
Steve прочитал 6 книг.
Jimmy не прочитал ни одной книги!
Mary прочитал 7 книг.
Divya прочитал 4 книг.
Robert прочитал 10 книг.
Yulia прочитал 15 книг.

Преобразуйте только что созданный цикл в функцию, которая принимает два списка (прочитанные книги и людей) в качестве аргументов.

In [ ]:
def f_read_books(peopl, r_books):
  for person, books in zip(peopl, r_books):
    if books == 0 :
      print(f"{person} не прочитал ни одной книги!")
    else:
      print(f"{person} прочитал {books} книг.")

In [ ]:
peopl = ["Петя", "Вова", "Антон", "Саша"]
r_books = [10, 0, 20, 7]

In [ ]:
f_read_books(peopl, r_books)

Петя прочитал 10 книг.
Вова не прочитал ни одной книги!
Антон прочитал 20 книг.
Саша прочитал 7 книг.

Отсортируйте значения `books_read` от большего к меньшему и выведите трех первых людей с количеством прочитанных ими книг. Некоторые возможные способы решения этой задачи включают использование сортировки аргументов `NumPy`, создание словаря и создание кортежей.

In [ ]:
def f_read_books(peopl, r_books):
  for person, books in sorted(zip(peopl, r_books),key=lambda x: x[1], reverse=True): # key=lambda x: x[1] означает, по какому элементу мы сортируем
    if books == 0 :
      print(f"{person} не прочитал ни одной книги!")
    else:
      print(f"{person} прочитал {books} книг.")

peopl = ["Петя", "Вова", "Антон", "Саша"]
r_books = [10, 0, 20, 7]

f_read_books(peopl, r_books)

Антон прочитал 20 книг.
Петя прочитал 10 книг.
Саша прочитал 7 книг.
Вова не прочитал ни одной книги!